* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif ;
}

body{
    background-color: #1d0042;
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px  10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: transparent;
}
.logo {
   position: relative;
    font-size: 30px;
    color: blueviolet;
    text-decoration: none;
    font-weight: 630;
}

.navbar a {
  font-size: 20px;
  color: blueviolet;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  transition: .4s;
}

.navbar a:hover,
.navbar a.active {
      color: magenta;
}

h1{
  font-size: 50px;
  color: blueviolet;
}
span{
  font-size: 50px;
  color: darkmagenta;
}
    

  div{
    border: 5px solid magenta;
    width: 600px;
    height: 500px;
}
img{
    width: 590px;
    height: 490px;
}
@media(max-width:650px){
    .logo{
      font-size: 20px;
    }
    .navbar a {
      font-size: 17px;
    }
  }
  @media(max-width:552px){
    .logo{
      font-size: 15px;
    }
    .navbar a {
      font-size: 10px;
    }
  }
  @media(max-width:404px){
    .logo{
      font-size: 8px;
    }
    .navbar a {
      font-size: 4px;
    }
  }
  @media(max-width:600px){
    div{
        width: 400px;
        height: 300px;
    }
    img{
        width: 399px;
        height: 299px;
    }
  }
  @media(max-width:450px){
    div{
        width: 300px;
        height: 200px;
    }
    img{
        width: 299px;
        height: 199px;
    }
}